$mainColor: #EB4646;
$mbackgroundColor: #f7f7f7;
$--color-primary: #eb4646;

// 主体
$--body-margin-top: 7rem;

// 一个按钮时
$--btn-font-size: 1.5rem;

// 头部
$--header-height: 5rem;
$--header-font-size: 1.6rem;
$--header-font-weight: 400;
