.el-card {
  margin-top: 20px;
}

.el-select {
  width: 100%;
}

.el-form-item{
  margin-bottom: 0;
}

.el-divider {
  margin: 10px 0;
}

.el-button {
  background-color: $mainColor;
  border-color: $mainColor;
  margin-top: 50px;
  height: 50px;
  width: 90vw;
  font-size: 20px;
  font-weight: 300;
}
