

.mbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  width: 100%;

  .el-avatar {
    margin-top: 50px;
    width: 10rem;
    height: 10rem;
  }

  h2 {
    font-size: 2em;
    margin-top: 20px;
    font-weight: 400;
  }

  div {
    margin-top: 9px;
    font-size: 1.5rem;
    color: #a4a4a4;
  }

  .el-button {
    padding: 0.9rem 0;
    line-height: 2.7rem;
    margin-top: 50px;
    width: 90vw;
    font-size: $--btn-font-size;;
    font-weight: 400;
  }
}
